{
  "project_info": {
    "project_number": "00000000000",
    "project_id": "mi-proyecto-firebase",
    "storage_bucket": "mi-proyecto-firebase.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:00000000000:android:aaaaaaaaaaaaaaaa",
        "android_client_info": {
          "package_name": "org.foss.lens"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaTUJAQUI_REEMPLAZA_CON_TU_CLAVE_REAL"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
